name: npm run ve:RAM

on:
  schedule:
    - cron: "0 1 * * *" # 1:00 AM UTC

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Run script
        run: npm run ve:RAM
      - name: Commit changes
        run: |
          git config --global user.email "oxSaturn@proton.me"
          git config --global user.name "oxSaturn"
          git add .
          git commit -m "Run ve:RAM"
          git push
